@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

body{
  font-family: 'Open Sans', sans-serif;
}
.navFixed{
  position: fixed;
  top: 0;
  left: 0; 
  right: 0;
  z-index: 1000;
}